
#brain{
  width: 49%;
  height: 50%;
  float:left;
}

#graph1{
  width: 49%;
  height: 90%;
  float:right;
}

#slice{
  width: 49%;
  height: 50%;
  float:left;
}


#brain3D{
  width: 40%;
  height: 40%;
}
